tmp
temp
.gradle/
build/
target
architect-cli/build
.idea/
node_modules/
.kotlin/
Thumbs.db
.DS_Store
.gradle
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.jar
!*gradle*wrapper*.jar
*.env
.vscode/
tmp/
.architect/tmp
.tmp
.tmp/